<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teampj_1">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FindAccountActivity"></activity>
        <activity android:name=".WithdrawlActivity" />
        <activity android:name=".NameChangeActivity" />
        <activity android:name=".PasswordChangeActivity" />
        <activity android:name=".Intro" />
        <activity android:name=".LockPasswordActivity" />
        <activity android:name=".VersionActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".BluetoothDB" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>